<!DOCTYPE HTML>
<html>

<head>
    <title>NodeMCUControl</title>
</head>

<body>
    <div style='width: 300px; margin: auto; text-align: center;'>
        <h1>WelcometoHandong Global University</h1>
        <h2>NodeMCUWebServer</h2>
        <a href="/LED/ON"><button>LED On</button></a>
        <a href="/LED/OFF"><button>LED Off</button></a><br />
        <a href="/USBLED/ON"><button>USBLED On</button></a><br />
        <a href="/USBLED/OFF"><button>USBLED Off</button></a><br />
        <a href="/light"><button>Get light intensity</button></a><br />
        <a href="/dht22"><button>Get dht22 info</button></a><br />
		<p>result: {{res}}</p>
    </div>
</body>

</html>

